#SPDX-FileCopyrightText: 2025 EvoCloud, Inc.
# SPDX-License-Identifier: MPL-2.0
#
#Source: https://github.com/goharbor/harbor-cli
#Ref: https://github.com/chainguard-dev/apko/blob/main/examples/nginx.yaml
#Schema: https://github.com/chainguard-dev/apko/blob/51830a2e043ace2da4eba4265083b2e3298437a8/pkg/build/types/schema.json

contents:
  repositories:
    - https://packages.wolfi.dev/os
    - '@local /work/packages'
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    - ./melange.rsa.pub
  packages:
    #- ca-certificates-bundle
    - harbor-cli@local

annotations:
  org.opencontainers.image.authors: EvoCloud Engineering Team <maintainers@evocloud.dev>
  org.opencontainers.image.title: Harbor-cli (Packaged by EvoCloud)
  org.opencontainers.image.description: Distroless and near CVE free Harbor-cli OCI image
  org.opencontainers.image.source: https://github.com/goharbor/harbor-cli
  org.opencontainers.image.licenses: MPL-2.0
  org.opencontainers.image.vendor: EvoCloud
  org.opencontainers.image.version: "0.0.15" 

accounts:
  groups:
    - groupname: nonroot
      gid: 65510
      members: []
  users:
    - username: nonroot
      uid: 65510
      shell: /bin/false
      #homedir: /dev/null
  run-as: nonroot

environment:
  PATH: /usr/local/sbin:/usr/local/bin:/usr/bin:/usr/sbin:/sbin:/bin

entrypoint:
  type: ""
  command: /usr/bin/harbor-cli
  shell-fragment: ""
  services: {}

#https://github.com/chainguard-dev/apko/blob/main/docs/layering.md
#layering:
#  strategy: "origin"
#  budget: 10

archs:
  - amd64


