# SPDX-FileCopyrightText: 2025 EvoCloud, Inc.
# SPDX-License-Identifier: MPL-2.0
#
# Source: https://github.com/spiffe/spire
package:
  name: oidc-discovery-provider
  version: 1.13.3
  epoch: 1
  description: "The SPIRE OIDC Discovery Provider exposes standard OIDC discovery and JWKS endpoints to let external systems validate SPIRE‑issued JWT‑SVIDs."
  target-architecture:
    - x86_64
    #- aarch64
  url: "https://spiffe.io/spire/"
  copyright:
    - attestation: |
        Created by the EvoCloud Engineering Team. 
        Copyright (C) 2025 EvoCloud, Inc.
      license: MPL-2.0

environment:
  contents:
    repositories:
      - https://packages.wolfi.dev/os
    keyring:
      - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    packages:
      - ca-certificates-bundle

vars:
  git_commit: "191c76b489656502ff946afb486b47b83a376e81"  

pipeline:
  - name: "CREATING OIDC Discovery Provider DIR"
    runs: |
      mkdir oidc-discovery-provider

  - name: "DOWNLOADING SPIRE OIDC Discovery Provider SOURCE CODE"
    uses: fetch
    with:
      uri: https://github.com/spiffe/spire/archive/refs/tags/v${{package.version}}.tar.gz
      expected-sha512: 80d1cae29c1cc499361dc77aca2533c4b4f8932e0e157ba70fd8747df0cce8e9a3a383c0da201e51f14cb9e8a61a06d137a4dd36f0395a712e404a30b21b10b2 
      directory: oidc-discovery-provider
      delete: true

  - name: "BUILDING SPIRE OIDC Discovery Provider"
    uses: go/build
    with:
      modroot: oidc-discovery-provider
      packages: ./support/oidc-discovery-provider
      # secfixes:
      #   1.13.3-r1:
      #     - GHSA-f6x5-jh6r-wrfv
      #     - GHSA-j5w8-q4qc-rx2x 
      #     - CVE-2025-58181
      #     - CVE-2025-47914 
      deps: golang.org/x/crypto@v0.45.0 
      ldflags: |
        -s -X github.com/spiffe/spire/pkg/common/version.gittag=${{package.version}} 
        -X github.com/spiffe/spire/pkg/common/version.githash=${{vars.git_commit}}
        -extldflags "-static"
      output: oidc-discovery-provider

  - uses: strip

  - name: "REMOVING DETRITUS"
    runs: |
      rm -rf oidc-discovery-provider

